.button{
    background: #6278f7;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 32px;
    cursor: pointer;
    border-radius: 10px;
    margin: 32px 0;
}
.button:hover{
    color: #95ffd4;
}